@media screen and (max-width: 600px) {
    .container {
        margin: 40px 16px;
        padding: 24px 16px;
    }

    .logo, .logo-ipsi {
        width: 60px;
        height: 60px;
    }

    h1 {
        font-size: 1.4em;
    }
}
